.env
.venv
env/
data/advisors/*
data/advisors/
./data/advisors/
/models/__pycache__/
/vectorstore/__pycache__/
__pycache__/
idea/
.idea/*
data/
/crawler/__pycache__
__pycache__
scrape_cache/
venv/
professor_scraper.log
